<h1>Ivan the Terrible's Blog</h1>

<%= will_paginate @posts %>

<section class="blog">
  <%= render @posts.page(params[:page]).per_page(10) %>
</section>

<br />

<%= link_to 'New Post', new_post_path %>
